/******************/
/* Type selectors */
/******************/

:root {
    --main-color: #333;
}

body {
    text-align: center;
    color: var(--main-color);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}



/****************/
/* Id Selectors */
/****************/

#main-header {
    margin: 0;
    background-color: #bbe9f1;
    padding: 20px;
}


/*******************/
/* Class Selectors */
/*******************/

.course-summary {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #eee;
}

.featured { /* also: .course-summary.featured */
    background-color: #7da5e6;
}


/***************/
/* Descendants */
/***************/

/* every img tag which is a descendant of an element with the class "course-summary" */
.course-summary img {
    max-height: 140px;
    width: auto;
    margin: auto;
    transition: all 1s;
}

.course-summary img:hover {
    box-shadow: 4px 4px 8px 0px var(--main-color);
}
